<% @users.each do |user| %>
  <% if user.id == current_user.id %>
  <% else %>
    <div class="link_class">

      <h4><%= link_to user.name, user_path(user.id) %></h4>
<!--       <%#= link_to "Follow", relationships_path(id: user.id), method: :post, :remote => 'true' %> -->

          <!-- If user is already following, show unfollow button -->
          <% if @following.include?(user.id) %>

              <%= link_to relationship_path(id: user.id), method: :delete, :remote => 'true' do %>
                <button class="unfollow">Unfollow</button>
              <% end %>

          <% else %>

              <%= link_to relationships_path(id: user.id), method: :post, :remote => 'true' do %>
                <button class="follow">Follow</button>
              <% end %>

          <% end %>

      <br />
    </div>
    <hr>
  <% end %>
<% end %>
