<% @users.each do |user| %>
  <% if user.id == current_user.id %>
  <% else %>
    <div class="link_class">

      <h4><%= link_to user.name, user_path(user.id) %></h4>

        <% if @following.include?(user.id) %>

          <div class="unfollow">
            <%= render partial: "unfollow", locals: { user_id: user.id } %>
          </div>

        <% else %>

          <div class="follow">
            <%= render partial: "follow", locals: { user_id: user.id } %>
          </div>

        <% end %>

      <br />
    </div>
    <hr>
  <% end %>
<% end %>
