<% @users.each do |user| %>
    <div class="link_class">

      <h4><%= link_to user.name, user_path(user.id) %></h4>

        <%# if @following.include?(user.id) %>

        <% render partial: "follow_form", locals: { user: user } %>

        <%# else %>


          </div>

        <%# end %>

      <br />


    </div>
    <hr>
<% end %>
