<% @users.each do |user| %>
  <% if user.id == current_user.id %>
  <% else %>
    <div class="link_class">

      <h4><%= link_to user.name, user_path(user.id) %></h4>
<!--       <%#= link_to "Follow", relationships_path(id: user.id), method: :post, :remote => 'true' %> -->

      <%= link_to relationships_path(id: user.id), method: :post, :remote => 'true' do %>
        <button>Follow</button>
      <% end %>


      <br />
    </div>
    <hr>
  <% end %>
<% end %>
