<% @users.each do |user| %>
    <% if user.id == current_user.id %>
    <% end %>

    <div class="link_class">

      <h4><%= link_to user.name, user_path(user.id) %></h4>

        <div class="following following_<%= current_user.following?(user) %>" data-user-id="<%= user.id %>">
          <a href="#" class="follow">Follow</a>
          <a href="#" class="unfollow">Unfollow</a>
        </div>
      <br />
    </div>
<% end %>
