<div class="row">
  <div class="col-lg-6">
    <% @titles_ids.each do |title, id| %>
    <form class="add-song" action="/concerts/add_song" method="post">
      <input class="concert-id" type="hidden" name="concert_id" value="<%#= @concert.id %>">
      <input class="band_id" type="hidden" name="band_id" value="<%#= @band.id %>">
      <input class="song_id" type="hidden" name="song_id" value="<%= id %>">

      <div class="video_container">
        <iframe width="560" height="315" src="//www.youtube.com/embed/<%= id %>" frameborder="0" allowfullscreen></iframe>

        <br>
      </div>

        <div class="form-group">
          <label for="song">Song</label>
          <input class="form-control song" id="song" type="text" name="song_name" value='<%= title %>'>

          <button type="submit">Add Song</button>

        </div>
      </form>
    <% end %>
  </div>

  <div class="col-lg-6">
    <a class="btn btn-lg btn-success" href="/concerts/<%#= @concert.id %>">Go To Concert</a>
    <div id="added_songs" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
      <h3>Songs that will be added to your concert page:</h3>
      <ul>
      </ul>
    </div>
  </div>
</div>
