<h1>Concerts for <%= @results[0] %></h1>
<% @results[1].each do |result| %>
  <div class="concert-form">
    <ul>
      <li><%= link_to result[0], search_youtube_path(band: @results[0], concert: result[0], songs: result[1]) %></li>
    </ul>
<% end %>
