<h1>Concerts for <%= @band.name %></h1>
<% @results.each do |concert, songs| %>
  <div class="concert-listing">
    <%= link_to(search_youtube_path(band: @band.name, concert: concert, songs: songs), id: 'concert-title') do  %>
      <h3><%= concert %></h3>
    <% end %>
  </div>
<% end %>
