<div class="jumbotron">
  <center><h1>Re-live your favorite concerts</h1>

  <%= form_tag '/search', method: "get", html: { class: "form-horizontal" } do %>

    <div class="form-group">
      <h2><%= label_tag :band, "Search for concerts now" %></h2><br>
      <%= text_field_tag :band, nil, placeholder: "Artist name", id: "myinput", class: 'form-control' %>
    </div>
    <br>
    <%= submit_tag "Search", class: "search-button" %>

  <% end %>

  </center>

  <div id="howitworks">
  	<h1>How It Works</h1>

  </div>

</div>
