/* $base-red: #FF511F; */
/* $base-red: #FF0C00; */
$light-red: #FF6438;
$dark-red: #B2300B;
$rocky-red: #FF0C00;
$base-red: #d75b5b;

$light-gray: #B1B1B1;
$base-gray: #A0A9B1;
$dark-gray: #7A7A7A;


$dark-green: #00B27F;
$light-green: #1FFFBF;
$blue: #4939FF;