/* styles for initial concert search results page */

#search-page {
	@include outer-container;
	margin-top: -2em;
	padding-bottom: 4em;
	h1 {
		color: $darker-gray;
		padding-top: 1em;
		padding-bottom: -1em;
		@include shift(3);
	}
	.concert-listing {
		position: relative;
		li {
			list-style-type: none;
			a {
				text-align: center;
				@include shift(3);
				@include span-columns(6);
				border: 1px solid white;
				text-decoration: none;
				margin-bottom: 1.5em;
				background-color: $base-red;
				h3 {
					color: white;
					font-size: 2.5em;
					
				}
				h4 {
					margin-top: -2em;
					font-size: 2em;
					color: white;
					font-weight: 500;
				}		
			}
		} 
	}

	i {
		font-size: 3em;
		color: $base-red;
	}
	.upper-nav{

		position: absolute;
		right: 12em;
	}
	.upper-left-nav{
		position: absolute;
		left: 12em;
	}
	.lower-nav{
		position: absolute;
		right: 12em;
		bottom: 7em;
	}
	.lower-left-nav{
		position: absolute;
		left: 12em;
		bottom: 7em;
	}
}

.video-container {
  display: inline-block;
}

.flagged {
  background: black;
  opacity: 0.5;
}

/* styles for concert show page */

.concert-show-container{
	opacity: 0.8;
	margin-top: -2em;
	h1 {
		padding-top: 2em;
		text-align: center;
	}
	#submit-video{
		position: relative;
		color: $base-red;
		select#song_name{
			background-color: $dark-gray;
			color: white;
		}
	input#video_link{

		background-color: $dark-gray;
		color: white;
		}
	input[type=submit]{
		background-color: $base-red;
		color: white; 
		border: 1px solid white;
		}
	}
	.concert-show-setlist {
		border: 1px solid $dark-gray;
		background-image: url("lightpaperfibers.png");
		color: #020303;
		font-family: 'Just Another Hand';
		position: absolute;
		top: 12em;
		right: 1em;
	}
}
