#search-page {
	@include outer-container;
	margin-top: -2em;
	opacity: 0.8;
	background-color: white;
	padding-bottom: 4em;
	h1 {
		color: $base-red;
		padding-top: 1em;
		padding-bottom: -1em;
		@include shift(4);
	}
	.concert-listing {
		position: relative;
		li {
			list-style-type: none;

			a {
				background-color: $true-blue;
				color: white;
				height: 6em;
				@include shift(3);
				@include span-columns(6);
				padding-left: 8em;
				border: 1px solid white;
				text-decoration: none;
				margin-bottom: 1em;

			}
		} 
	}

	i {
		font-size: 3em;
		color: $base-red;
	}
	.upper-nav{
		position: absolute;
		right: 12em;
	}
	.upper-left-nav{
		position: absolute;
		left: 12em;
	}
	.lower-nav{
		position: absolute;
		right: 12em;
		bottom: 7em;
	}
	.lower-left-nav{
		position: absolute;
		left: 12em;
		bottom: 7em;
	}

.video-container {
  display: inline-block;
}

.flagged {
  background: black;
  opacity: 0.5;
}