html {
	max-width: $max-width;
	margin: 0 auto;
	position: relative;
}

body {
	margin: 0 0 0 0;
	padding-top: 80px;
	max-width: inherit;
}

ul, a {
	text-decoration: none;
}

/* styles for application layout*/
nav {
	top: 0;
	position: fixed;
	z-index: 1;
	height: 5em;
	@include span-columns(12);
	background-color: black;
	a {	
		color: white;
	}
	a.headline {
		font-size: 1em;
		color: white;
		position: static;
		font-family: 'Lato';
		text-shadow:
	    -1px -1px 0 $base-red,
	    1px -1px 0 $base-red,
	    -1px 1px 0 $base-red,
	    1px 1px 0  $base-red;
	}
	h1 {
		margin-bottom: 0;
	}
	ul {
		margin-bottom: 0;
		li {
			position: fixed;
			margin-top: -1.5em;
			left: 62%;
		}
		li.sign-out-button {
			position: relative;
			margin-left: 8em;
		}
	}
}

/* styles for app landing page */

.jumbotron{
 height: 30em;
 background-image: asset-url('phanto-concert1.jpg');
 border-bottom: 4px solid $light-red;
 @include span-columns(12);
	center {
	 	margin-top: 4em;
		color: white;
		font-family: 'Lato';
		text-shadow:
	    -.5px -.5px 0 $light-red,
	    .5px -.5px 0 $light-red,
	    -.5px .5px 0 $light-red,
	    .5px .5px 0  $light-red;
	  h1 {
	  	font-size: 2.5em; 
	  }
	  h2 {
	  	font-size: 2em;
	  }
	  .fbs-status {

	  }
	 }
 input#myinput.form-control{
 	@include span-columns(7);
 	@include shift(2.5);
 	color: $dark-green;
 	font-size: 1.5em;
 	border-radius: 8px;
 	border: 2px outset white;
 }
 input.search-button {
 	@include span-columns(2);
 	@include shift(4.75);
 	margin-top: 2.5em;
 	background-color: $dark-red;
 	padding: 5px;
 	border-radius: 8px;
 	border: 2px solid white;
 	font-family: 'Lato';
 	&:hover{
 		color: $light-red;
 		border: 2px solid $light-red;
 	}
 }

 #howitworks {
 	margin-top: 9em;
 	height: 35em;
 	@include span-columns(12);
 	position: relative;
 	background-color: white;
 	i {
 		font-size: 3em;
 		color: $base-red;
 	}
 	
 	h1 {
 		margin-top: 2em;
 		color: black;
 		margin-bottom: 1em;
	  @include span-columns(6);
	  @include shift(3.75);
	  font-weight: 1000;
	  font-family: 'Lato';
	  font-size: 3em;
 		}
 	h3 {
 		color: $base-red;
 		@include shift(2);
 		font-family: 'Lato';
 	}
 	p {
 		width: 90%; 
 		font-family: 'Lato';
 	}
 	.home-left{
 		position: relative;
 		@include span-columns(3.5);
 		@include shift(1);
 		height: 20em;
 			i {
 				@include shift(3.5)
 			}
 		}
 	.home-center{
 		position: relative;
 		@include span-columns(3.5);
 		height: 20em;

 			i {
 				@include shift(3.5);
 			}
 		}
 	.home-right{
 		position: relative;
 		@include span-columns(3.5);
 		height: 20em;
 			i {
 				@include shift(5);
 			}
 		}
	}
}

#flash {
	background-color: $dark-green;
	color: white;
	text-align: center;
	button.close{
		border-radius: 10px;
		background-color: $base-red;
	}
}

/* styles for sign in button */

#sign_in {
	padding: 5px;
	@include shift(1);
	width: 11em; 
	position: fixed;
	margin-top: -3em;
	left: 62%;
	border: 2px outset $base-red;
	margin-bottom: 4.5%;
	&:hover, &:active{
		color: $base-red;
	}
}