body {
	margin: 0 0 0 0;
}

nav {
	top: 0;
	position: fixed;
	@include span-columns(12);
	background-color: black;
	font-family: 'Duke';
	a, a:active, a:hover {
		color: #FF0C00;
		text-decoration: none;
	}
	h1 {
		margin-bottom: 0;
	}
	ul {
		margin-bottom: 0;
	}
}

.jumbotron{
 margin-top: 64px;
 @include span-columns(6);
 @include shift(3);
}

#sign_in {
	@include shift(9);
	@include span-columns(3);
	position: relative;
	margin-top: -25px;
}