body {
	margin: 0 0 0 0;
	padding-top: 80px;
}

ul, a {
	text-decoration: none;
}

nav {
	top: 0;
	position: fixed;

	height: 5em;
	@include span-columns(12);
	background-color: black;
	a {	
		color: white;
	}
	a.headline {
		font-size: 1em;
		color: white;
		font-family: 'Lato';
		text-shadow:
	    -1px -1px 0 $base-red,
	    1px -1px 0 $base-red,
	    -1px 1px 0 $base-red,
	    1px 1px 0  $base-red;
	}
	h1 {
		margin-bottom: 0;
	}
	ul {
		margin-bottom: 0;
	}
}

.jumbotron{
 margin-top: 5em;
 height: 30em;
 background-image: asset-url('phanto-concert1.jpg');
 @include span-columns(12);

 center {
 	margin-top: 4em;
	color: white;
	font-family: 'Lato';
	text-shadow:
    -.5px -.5px 0 $light-red,
    .5px -.5px 0 $light-red,
    -.5px .5px 0 $light-red,
    .5px .5px 0  $light-red;
 }
 input#myinput.form-control{
 	@include span-columns(6);
 	@include shift(3);
 	margin-top: 1em;
 	color: $dark-green;
 	font-size: 1.5em;
 	border-radius: 8px;
 }
 input.search-button {
 	@include span-columns(2);
 	@include shift(5);
 	margin-top: 3em;
 	background-color: $dark-red;
 	padding: 5px;
 	border-radius: 8px;
 	border: 2px solid white;
 	font-family: 'Lato';
 }

 #howitworks {
 	margin-top: 9em;
 	height: 10em;
 	@include span-columns(12);
 	position: relative;

 	border-top: 1em solid $base-red;
 	
 	h1 {
 		color: $base-red;
		text-shadow:
	    -.5px -.5px 0 black,
	    .5px -.5px 0 black,
	    -.5px .5px 0 black,
	    .5px .5px 0  black;
	  @include span-columns(3);
	  @include shift(4.5);
 		}
	}
}
#sign_in {
	padding: 5px;
	@include shift(8);
	@include span-columns(2.3);
	position: relative;
	margin-top: -30px;
	border: 2px outset $light-green;
}