/* user show page styles */

.user_name {
  @include shift(1);
  @include span-columns(5);
  margin-right: 0;
  font-size: 300%;
  color: black;

}

.invite-friends {
  @include shift(8);
  margin-left: -13em;
  margin-bottom: 4em;
  margin-top: 2.75em;

  width: 13em;
  height: 2em;
}

#concerts_header {
  @include shift(1);
  margin-top: -1em;
}


.year {
  @include shift(2.5);

  font-size: 3em;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  color: #d75b5b;

  text-align: left;
}

.concert_container {
  @include shift(3);
  @include span-columns(6);
  height: 8em;

  margin-bottom: .75em;
  margin-right: 15em;

  background-color: white;
}

.date_container {
  width: 12em;
  height: 9em;

  margin-left: 2%;
  margin-top: 2%;

  text-align: center;

  background-color: #d75b5b;
  color: white;
}

.actual_date {
  font-size: 3.25em;
  padding-top: .25em;
}

.artist {
  margin-top: -2.4em;
  margin-left: 4.75em;

  font-size: 318%;
}

.venue {
  margin-left: 8.3em;
  font-size: 182%;
}

a:hover {
  color: #d75b5b;
}

/* users index page */



